{% extends 'base.html' %} {% load static %}

{% block title %}
    Dasboard
{% endblock %}



{% block css %}{% endblock %}



{% block content %}
    <!-- Dashboard Content goes here -->
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>


                    <!-- Start: Chart -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Temperature</h6>
                                </div>

                                <div class="card-body">
                                    <div>
                                        <canvas id="temperatureChart"></canvas>
                                    </div>
                                    <small><i>* Sampling is made every 15 seconds</i></small>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Soil Moisture</h6>
                                </div>

                                <div class="card-body">
                                    <div>
                                        <canvas id="soilMoistureChart"></canvas>
                                    </div>
                                    <small><i>* Sampling is made every 15 seconds</i></small>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
{% endblock %}



{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>

    <script>
        const config = {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'DHT11',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'realtime',
                        realtime: {
                            delay: 15000,
                            onRefresh: chart => {

                                let settings = {
                                    "url": "https://greenhouse-empotrados.herokuapp.com/sensors/api/"+1,
                                    "method": "GET",
                                    "timeout": 0,
                                };
                                $.ajax(settings).done(function (response) {
                                    chart.data.datasets[0].data.push({
                                        x: luxon.DateTime.now(),
                                        y: response.data
                                    });  
                                });
                                
                            }
                        }
                    }
        
                }        
            }
        };
        const temperatureChart = new Chart(
            document.getElementById('temperatureChart'),
            config
        );
    </script>
    
    <script>
        const configMoisture = {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Soil Moisture sensor',
                        backgroundColor: 'rgba(54, 89, 162, 1)',
                        borderColor: 'rgb(54, 89, 162)',
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'realtime',
                        realtime: {
                            delay: 15000,
                            onRefresh: chart => {
                                
                                let settings = {
                                    "url": "https://greenhouse-empotrados.herokuapp.com/sensors/api/"+2,
                                    "method": "GET",
                                    "timeout": 0,
                                };

                                $.ajax(settings).done(function (response) {
                                    chart.data.datasets[0].data.push({
                                        x: luxon.DateTime.now(),
                                        y: response.data
                                    });  
                                });
                            }
                        }
                    }
        
                }        
            }
        };
        const soilMoistureChart = new Chart(
            document.getElementById('soilMoistureChart'),
            configMoisture
        );
    </script>
{% endblock %}