{% extends 'base.html' %} {% load static %}

{% block title %}
    Dasboard
{% endblock %}



{% block css %}{% endblock %}



{% block content %}
    <!-- Dashboard Content goes here -->
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>


                    <!-- Start: Chart -->
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Realtime temperature</h6>
                                </div>

                                <div class="card-body">
                                    <div>
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
{% endblock %}



{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>

    <script>
        const config = {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'DHT11',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: []
                    },
                    {
                        label: 'Soil Moisture sensor',
                        backgroundColor: 'rgba(54, 89, 162, 1)',
                        borderColor: 'rgb(54, 89, 162)',
                        data: []
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'realtime',
                        realtime: {
                            delay: 15000,
                            onRefresh: chart => {

                                var settings = {
                                    "url": "https://greenhouse-empotrados.herokuapp.com/sensors/api/",
                                    "method": "GET",
                                    "timeout": 0,
                                };
                                $.ajax(settings).done(function (response) {
                                    let results = response.results;
                                    {% comment %} console.log(results); {% endcomment %}
                                    // Iterate through each result
                                    results.forEach(result => {
                                        // Iterate through each dataset
                                        console.log(result.date)
                                        if(result.sensor === 1){
                                            chart.data.datasets[0].data.push({
                                                x: luxon.DateTime.now(),
                                                y: result.data
                                            }); 
                                        }
                                        else if(result.sensor === 2){
                                            chart.data.datasets[1].data.push({
                                                x: luxon.DateTime.now(),
                                                y: result.data
                                            }); 
                                        }
                                    });
                                });
                            }
                        }
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock %}